html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.dg {
  opacity: 0.8;
}
h1 {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.6vw;
  font-weight: 700;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 2vw !important;
  }
}
h1 span.key {
  font-size: 10vw;
  letter-spacing: 0.03em;
  font-weight: 900;
  margin-top: 20px;
  line-height: 1.45em;
}
h1 span.sidenote {
  font-weight: 400;
  font-size: 1.4vw;
}
@media screen and (max-width: 1250px) {
  h1 span.sidenote {
    font-size: 1.6vw;
  }
}
h1 a {
  color: #fff;
  -webkit-transition: color 0.3s;
  text-decoration: none;
}
h1 a:hover {
  color: #000;
}
.accept h1 {
  font-size: 2.5vw;
}
h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 3.9vw;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  margin-bottom: 70px;
  margin-top: -10px;
}
@media screen and (max-width: 1250px) {
  h2 {
    font-size: 5.2vw;
  }
}
p {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #fff;
  text-align: left;
  font-size: 1.4vw;
  font-weight: 400;
  line-height: 1.35em;
}
@media screen and (max-width: 1250px) {
  p {
    font-size: 1.8vw;
  }
}
p span.key {
  letter-spacing: 0.02em;
}
p b {
  font-weight: 700;
}
p a {
  color: #fff;
  -webkit-transition: color 0.3s;
}
p a:hover {
  color: #000;
}
p#keyInAbout {
  text-align: center;
  margin-top: 60px;
}
p.hidden {
  display: none;
}
.showAbout {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 13;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.28s;
  -webkit-transition-timing-function: easeOutQuad;
}
.showAbout .flipContainer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.28s;
  -webkit-transition-timing-function: easeOutQuad;
}
.showAbout .flipContainer#closeIcon {
  -webkit-transform: rotateY(180deg);
}
.showAbout img {
  -webkit-transition: -webkit-transform 0.28s;
  -webkit-transition-timing-function: easeOutQuad;
}
.showAbout:hover {
  -webkit-transform: scale(1.075);
}
.showAbout.aboutOpen #aboutIcon {
  -webkit-transform: rotateY(180deg);
}
.showAbout.aboutOpen #closeIcon {
  -webkit-transform: rotateY(360deg);
}
#share {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 68px;
  left: 18px;
  z-index: 13;
  cursor: pointer;
}
#share #facebook,
#share #twitter,
#share #github {
  -webkit-transition: -webkit-transform 0.25s, opacity 0.2s;
  -webkit-transition-timing-function: easeOutQuad;
  opacity: 0;
  z-index: 14;
}
#share #facebook img,
#share #twitter img,
#share #github img {
  -webkit-transform: scale(0.95);
}
#share #facebook:hover img,
#share #twitter:hover img,
#share #github:hover img {
  -webkit-transform: scale(1.07);
}
#share img {
  -webkit-transition: -webkit-transform 0.22s;
  -webkit-transition-timing-function: easeOutQuad;
}
#share:hover img {
  -webkit-transform: scale(1.085);
}
#share #facebook {
  position: absolute;
  left: 40px;
  -webkit-transform: translateX(-39px);
}
#share #twitter {
  position: absolute;
  left: 81px;
  -webkit-transform: translateX(-80px);
  -webkit-transition-delay: 0.11s;
}
#share #github {
  position: absolute;
  left: 120px;
  -webkit-transform: translateX(-120px);
  -webkit-transition-delay: 0.22s;
}
#share:hover #twitter,
#share:hover #facebook,
#share:hover #github {
  -webkit-transform: translateX(0);
  opacity: 1;
}
#about {
  z-index: 12;
  background-color: rgba(50,50,50,0.75);
  -webkit-transition: -webkit-transform 0.28s, background-color 0.3s;
  -webkit-transition-timing-function: easeOutQuad;
  -webkit-animation: aboutBounce 0.66s;
  -webkit-animation-timing-function: easeOutQuad;
  -webkit-transform: translateY(0);
  overflow: hidden;
}
#about.upAndAway {
  -webkit-transform: translateY(-102%);
  -webkit-animation: none;
}
#about.downAndOut {
  -webkit-transform: translateY(102%);
  -webkit-animation: none;
}
#about.hidden {
  display: none;
}
#about.solidBackground {
  background-color: #09b35b !important;
}
@-webkit-keyframes aboutBounce {
  0% {
    -webkit-transform: translateY(-102%);
  }

  40% {
    -webkit-transform: translateY(0);
  }

  60% {
    -webkit-transform: translateY(-4.5%);
  }

  76% {
    -webkit-transform: translateY(0);
  }

  88% {
    -webkit-transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
#browserNotSupported {
  z-index: 20;
  background-color: #09b35b;
}
#browserNotSupported.hidden {
  display: none;
}
.valignOuter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.valignOuter .valign {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}
.valignOuter .valign .valignWrap {
  margin-top: 25px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 1250px) {
  .valignOuter .valign .valignWrap {
    width: 66% !important;
  }
}
.valignOuter .valign:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-top: -50px;
  margin-right: -0.25em;
}
#instructions,
#keyboardOrIpad {
  z-index: 11;
}
#instructions.hidden,
#keyboardOrIpad.hidden {
  display: none;
}
#instructions .instruction,
#keyboardOrIpad .instruction,
#instructions .choice,
#keyboardOrIpad .choice {
  float: left;
  -webkit-transition: opacity 0.75s;
}
#instructions .instruction img,
#keyboardOrIpad .instruction img,
#instructions .choice img,
#keyboardOrIpad .choice img {
  display: block;
  width: 66%;
  margin: auto;
}
#keyboardOrIpad .choice {
  width: 50%;
  cursor: pointer;
  -webkit-transform: translateY(1px);
  -webkit-transition: -webkit-transform 0.28s;
  -webkit-transition-timing-function: easeOutQuad;
}
#keyboardOrIpad .choice#keyboard {
  -webkit-transition-delay: 0.17s;
}
#keyboardOrIpad .choice.upAndAway {
  -webkit-transform: translateY(-102vh);
}
#keyboardOrIpad .choice.downAndOut {
  -webkit-transform: translateY(102vh);
}
#keyboardOrIpad .choice img {
  -webkit-transition: -webkit-transform 0.15s;
}
#keyboardOrIpad .choice:hover img {
  -webkit-transform: scale(1.04);
}
.instruction {
  width: 33%;
}
.instruction.hidden {
  opacity: 0;
  -webkit-transition: opacity 1s;
}
#ipadInstructions {
  z-index: 10;
  -webkit-transform: translateY(1px);
  -webkit-transition: -webkit-transform 0.28s, opacity 0.33s;
  -webkit-transition-timing-function: easeOutQuad;
}
#ipadInstructions.hidden {
  display: none;
}
#ipadInstructions.upAndAway {
  -webkit-transform: translateY(-102%);
}
#ipadInstructions.downAndOut {
  -webkit-transform: translateY(102%);
}
#ipadInstructions.faded {
  opacity: 0;
}
.accept {
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 12;
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transition-timing-function: easeOutQuad;
  -webkit-animation-delay: 2.5s;
}
.accept.offRight {
  -webkit-transform: translateX(52vw);
}
.accept.hidden {
  display: none;
}
.accept.offLeft {
  -webkit-transform: translateX(-102vw);
}
.accept.flash {
  -webkit-animation: acceptFlash 2s infinite;
}
#makeFullScreen {
  position: absolute;
  bottom: 17px;
  left: 17px;
  width: 33px;
  text-align: center;
  z-index: 12;
  margin: auto;
  cursor: pointer;
}
#makeFullScreen.hidden {
  display: none;
}
#makeFullScreen img {
  -webkit-transition: -webkit-transform 0.28s;
  -webkit-transition-timing-function: easeOutQuad;
}
#makeFullScreen:hover img {
  -webkit-transform: scale(1.075);
}
@-webkit-keyframes acceptFlash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#magic {
  width: 100%;
  height: 100%;
  background: #808080;
}
#twoMagic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s;
}
#twoMagic.squashX {
  -webkit-transform: scaleX(0);
}
#twoMagic.squashY {
  -webkit-transform: scaleY(0);
}
#foreground {
  position: absolute;
  z-index: 2;
}
#middleground {
  position: absolute;
  z-index: 1;
}
#illustrations {
  display: none;
}
#text,
#quotes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
#text #boom,
#quotes #boom {
  margin-left: -1%;
}
#text span,
#quotes span {
  width: 100%;
  float: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 66vh;
  margin: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  display: none;
  z-index: 5;
}
#text span.show,
#quotes span.show {
  opacity: 1;
  display: inline;
}
#illus {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 66vh;
  margin-top: 18vh;
  text-align: center;
}
#illus img {
  height: 100%;
  opacity: 0;
  display: none;
}
#illus img.show {
  display: inline;
  opacity: 1;
}
#illus img#heart {
  -webkit-transform: translateY(2%);
}
#photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-size: cover;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
}
#photo.show {
  opacity: 0.8;
}
#photo.angela {
  background-image: url("../Assets/shy_dolphins/dolphin_1.gif");
}
#photo.obama {
  background-image: url("../Assets/shy_dolphins/dolphin_2.gif");
}
#photo.queen {
  background-image: url("../Assets/shy_dolphins/dolphin_3.gif");
}
#photo.charles {
  background-image: url("../Assets/shy_dolphins/dolphin_4.gif");
}
