html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.dg {
  opacity: 0.8;
}
#instructions {
  width: 100%;
  height: 100%;
  background: #00f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  font-size: 2em;
}
#instructions.hidden {
  display: none;
}
#ipadInstructions {
  width: 100%;
  height: 100%;
  background: #008000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  color: #fff;
  font-size: 2em;
}
#ipadInstructions.hidden {
  display: none;
}
.continue,
.connectipad {
  background: #f00;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.accept {
  background: #f00;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10;
  right: 10;
  z-index: 12;
}
.accept.hidden {
  display: none;
}
#magic {
  width: 100%;
  height: 100%;
  background: #808080;
}
#twoMagic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s;
}
#twoMagic.squashX {
  -webkit-transform: scaleX(0);
}
#twoMagic.squashY {
  -webkit-transform: scaleY(0);
}
#foreground {
  position: absolute;
  z-index: 2;
}
#middleground {
  position: absolute;
  z-index: 1;
}
#illustrations {
  display: none;
}
#text,
#quotes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
#text span,
#quotes span {
  width: 100%;
  float: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50vmin;
  margin: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  z-index: 5;
}
#text span.show,
#quotes span.show {
  opacity: 1;
}
#text span.top,
#quotes span.top {
  top: -80px;
}
#text span.bottom,
#quotes span.bottom {
  bottom: -80px;
}
#text span#bisque,
#quotes span#bisque {
  font-size: 40vmin;
  margin-top: 40px;
}
#text span#bisque,
#quotes span#bisque,
#text span#lin,
#quotes span#lin {
  color: #efcd0b;
}
#text span#rage,
#quotes span#rage,
#text span#ber,
#quotes span#ber {
  color: #c00;
}
#quotes span {
  -webkit-transition: opacity 2s;
  margin-top: 55px;
  colour: #fff;
  font-size: 15vw;
  line-height: 28vh;
  letter-spacing: -0.005em;
}
#quotes span.show {
  opacity: 0.66;
}
#photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
}
#photo.show {
  opacity: 0.8;
}
#photo.angela {
  background-image: url("../Assets/angela.gif");
}
#photo.kiss {
  background-image: url("../Assets/kiss.gif");
}
#photo.wall {
  background-image: url("../Assets/fallwall.gif");
}
#photo.ruins {
  background-image: url("../Assets/ruins.gif");
}
#debugVisualiser {
  width: 300px;
  height: 150px;
  background: #fff;
  border: 3px solid #f00;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
}
