html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.dg {
  opacity: 0.8;
}
#magic {
  width: 100%;
  height: 100%;
  background: #808080;
}
#twoMagic {
  width: 100%;
  height: 100%;
}
#foreground {
  position: absolute;
  z-index: 2;
}
#middleground {
  position: absolute;
  z-index: 1;
}
#illustrations {
  display: none;
}
#text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
#text span {
  width: 100%;
  float: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50vmin;
  margin: 0;
  text-align: center;
  position: absolute;
  display: none;
}
#text span.show {
  display: inline;
}
#text span.top {
  top: -80px;
}
#text span.bottom {
  bottom: -80px;
}
#text span#bisque {
  font-size: 40vmin;
  margin-top: 40px;
}
#text span#bisque,
#text span#lin {
  color: #efcd0b;
}
#text span#rage,
#text span#ber {
  color: #c00;
}
#debugVisualiser {
  width: 300px;
  height: 150px;
  background: #fff;
  border: 3px solid #f00;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
}
