html, body
	width 100%
	height 100%
	padding 0
	margin 0

.dg
	opacity 0.8

#magic
	width 100%
	height 100%
	background grey

#twoMagic
	width 100%
	height 100%

#foreground
	position absolute
	z-index 2

#middleground
	position absolute
	z-index 1

#illustrations
	display none


#text, #quotes
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 4
	span
		width 100%
		float left
		font-family: 'Oswald', Helvetica, sans-serif;
		font-weight bold
		text-transform uppercase
		font-size 50vmin
		margin 0
		text-align center
		position absolute
		opacity 0
		z-index 5
		&.show
			opacity 1
		&.top
			top -80px
		&.bottom
			bottom -80px
		&#bisque
			font-size 40vmin
			margin-top 40px
		&#bisque, &#lin
			color #efcd0b
		&#rage, &#ber
			color #cc0000
#quotes
	span
		-webkit-transition opacity 2s
		margin-top 55px
		colour white
		font-size 15vw
		line-height 28vh
		letter-spacing -0.005em
		&.show
			opacity 0.66


#debugVisualiser
	width 300px
	height 150px
	background white
	border 3px solid red
	position absolute
	left 0
	top 0
	z-index 10
	opacity 0
