body, html
	padding 0
	margin 0
	background-color black
	-webkit-transition background-color 0.1s
	&.press
		background-color #444444

*
	-webkit-box-sizing border-box
	box-sizing border-box
	-webkit-touch-callout none
    -webkit-user-select none

#introWrapper
	background #f7bb07
	-webkit-transition -webkit-transform 0.3s
	font-family 'Lato', Helvetica, sans-serif
	z-index 3
	&.downAndOut
		-webkit-transform translateY(999px)
	&.hidden
		display none
	h1	
		font-size 5.4vw
		color white
		font-weight 400
		margin-bottom 4disable vh
	#inputKey
		font-size 7vw
		font-weight 700
		text-align center
		border-radius 0
		border 20px solid black
		width 42%
		letter-spacing 0.02em
		margin-bottom 20px
	#submitKey
		background none
		border none
		font-size 4vw
		font-weight 700

.valignOuter
	height 100%
	width 100%
	position absolute
	top 0
	left 0
	z-index 11
	.valign
		height 100%
		width 100%
		position relative
		z-index 10
		text-align center
		.valignWrap
			margin-top 40px
			display inline-block
			vertical-align middle
			width 100%
	.valign:before
		content ''
		display inline-block
		height 100%
		vertical-align middle
		margin-top -50px
		margin-right -0.25em


#keypadWrapper
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	z-index 2

#keypad
	display table
	width 100%
	height 100%

.row
	display table
	width 100%
	height 25%
	table-layout fixed

.button
	display table-cell
	text-align center
	vertial-align middle
	width 100%
	width auto
	border-radius 5px
	// outline 1px solid black
	outline-offset -10px
	padding 5px
	webkit-transition -webkit-transform 0.2s
	z-index 1
	&.pushed
		-webkit-transform scale(0.93)
	img
		width 100%
		margin-top 35%