*
	-webkit-box-sizing: border-box
	box-sizing: border-box

.row
	// position relative
	height 25%
	width 100%
	&#a
		background red
		.button
			width 10%
	&#b
		background green
		.button
			width 9.09%
	&#c
		background blue
		.button
			width 11.11%
	&#d
		background orange
		.button
			width 11.11%

.button
	height 100%
	border 1px solid black
	float left